.containerForm{
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.formFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.formFields input{
    width: 30vw;
    height: 30px;
    margin: 0 auto 0 auto;
    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    font-family: "League Spartan", sans-serif;
    padding: 5px 20px 5px;
}

.formFields button{
    width: 30vw;
    height: 50px;
    margin: 0 auto 0 auto;
    font-size: 20px;
    font-family: "League Spartan", sans-serif;
}


.navLinkForm{
  color: #EB473D;
}

.navLinkForm:hover{
  color: #c54039;
}