.gallery{
    padding: 50px;
    width: calc(100vw - 5%);
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    row-gap: 100px;
    column-gap: 30px;
    margin: 0 auto 0 auto;
    border-radius: 25px;
}
